
#adrN{ display: inline; color :blue}
#mask{ display: inline;  color :green}
#First{ display: inline;  color :yellow}
#Last{ display: inline;  color :black}
#Broadcast{ display: inline;  color :red}
#Nb{ display: inline;  color :pink}}